---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Button from '~/components/ui/Button.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'eomm.dev',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    title="Hello, I'm Manuel"
    tagline='ðŸ‘‹ðŸŒ'
    subtitle='Senior Software Developer, Books Author, Fastify Core Maintainer, and Open Source Enthusiast'
    image={{ src: '~/assets/images/eomm.jpg', alt: 'Manuel Eomm Spigolon' }}
  >
    <Fragment slot="content">
      <p class="mb-4">
        I'm a passionate software developer and technical writer.<br />
        My heart lies in the world of open source technologies, where I find joy in both creating software and sharing my knowledge through the written word.
      </p>
      <p class="mb-4">
        Since 2018, I've been actively contributing to various open source projects, including Node.js and <Button variant="link" class='underline' href='https://www.fastify.dev/' target="_blank">Fastify</Button>.<br />
        While maintaining the Fastify ecosystem as a core contributor, I'm also focusing on my side projects, which include the <Button variant="link" class='underline' href='https://backend.cafe/' target="_blank">backend.cafe</Button> blog, book writing, and a open source projects built with anyone who has an idea and writes me a message.
      </p>
      <p>Currently, I work as a Senior Software Developer at
        <Button variant="link" class='underline' href='https://www.nearform.com/' target="_blank">NearForm</Button>.
      </p>
    </Fragment>
  </Hero>
</Layout>
